.popup {
  transform: scale(0);
  width:0;
  min-height:0;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;;
  transition: transform 0.3s, background-color .1s; 
}