.photo-cards__button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: 31px;
  background-repeat: no-repeat;
}

.photo-cards__button:hover {
  opacity: 0.5;
}

.photo-cards__button:active {
  opacity: 1;
  background-image: url(../../../images/black-heart.svg);
}