.photo-cards__list {
  list-style: none;
  padding: 0;
  width: 88%;
  margin: 0 auto;
  display: grid;
}

@media screen and (min-width: 890px) {
  .photo-cards__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 17px;
    row-gap: 20px;
    width: 69%;
  }
}

@media screen and (min-width: 1280px) {
  .photo-cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}