.photo-cards__item {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 362px;
  position: relative;
  font-size: 0;
}

@media screen and (min-width: 890px) {
  .photo-cards__item {
    margin-bottom: 0;
  }
}