.footer__copyright {
  width: 88%;
  margin: 28px auto 0;
  color: #545454;
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 890px) {
  .footer__copyright {
    width: 69%;
    font-size: 18px;
    line-height: 22px;
    margin: 67px auto 0;
  }
}