.profile__update-profile {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  background-image: url('../../../images/pencil.svg');
  background-size: cover;
  margin-left: 1px;
  margin-bottom: 22px;
}
.profile__update-profile:hover {
  opacity: 0.5;
}

@media screen and (min-width: 890px) {
  .profile__update-profile {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-top: 73px;
    margin-right: 9px;
  }
}
