.profile__update-profile {
  position: absolute;
  top: 193px;
  right: 37px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  background-image: url('../../../images/pencil.svg');
  background-size: cover;
}
.profile__update-profile:hover {
  opacity: 0.5;
}

@media screen and (min-width: 890px) {
  .profile__update-profile {
    position: initial;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 4px;
    margin-right: 9px;
  }
}