.popup-image {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: visibility .3s, background-color .3s, opacity .3s;
}