.profile__title {
  font-size: 27px;
  line-height: 33px;
  font-weight: 500;
  margin-top: 31px;
  margin-bottom: 9px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 189px;
}

/* .profile__title::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  right: -28px;
  top:9px;
  background-image: url(../../../images/pencil.svg);
  background-size: cover;
} */

@media screen and (min-width: 890px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    margin-top: 57px;
    margin-left: 31px;
    width: 294px;
  }

  /* .profile__title::after {
    width: 24px;
    height: 24px;
    right: -47px;
    top: 14px;
  } */
}