.popup__form-input-error {
  width: 75vw;
  margin: 0 auto;
  color: #FF0000;
  display: block;
  font-size: 12px;
  line-height: 14px;
  min-height: 28px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

@media screen and (min-width: 890px) {
  .popup__form-input-error {
    width: 29vw;
  }
}