.popup-image__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  top: -36px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/close-Icon-mobile.svg);
  opacity: 1;
  cursor: pointer;
}

.popup-image__close:hover {
  opacity: 0.5;
}

@media screen and (min-width: 890px) {
  .popup-image__close {
    background-image: url(../../../images/close-icon.svg);
    width: 32px;
    height: 32px;
    right: -41px;
    top: -42px;
  }
}