.popup__submit {
  width: 75vw;
  background-color: #000;
  color: #fff;
  border: none;
  margin: 40px auto 0;
  display: block;
  min-height: 48px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: background-color .5s;
}

.popup__submit:hover {
  background-color: #313131;
}

@media screen and (min-width: 890px) {
  .popup__submit {
    width: 29vw;
    font-size: 18px;
    margin: 46px auto 0;
  }
}