.profile__wrapper-info {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 890px) {
  .profile__wrapper-info {
    align-items: flex-start;
  }
}