.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  top: 87px;
  cursor: pointer;
}

.popup__close:hover path {
  fill: #ccc;
}

@media screen and (min-width: 890px) {
  .popup__close {
    width: 32px;
    height: 32px;
    right: 385px;
    top: 155px;
  }
}