.photo-cards__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/trash-can.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s;
}

.photo-cards__trash-button:hover {
  opacity: 0.7;
}