.popup__submit_inactive {
  background-color: #fff;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
}

.popup__submit_inactive:hover {
  background-color: #fff;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
}