.popup__input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 75vw;
  margin: 0 auto;
  display: block;
  padding-bottom: 8px;
}

.popup__input::placeholder {
  color: #C4C4C4;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:first-child {
  margin-bottom: 0;
}

@media screen and (min-width: 890px) {
  .popup__input {
    width: 29vw;
  }
}