.popup__container_type_show-image {
  background-color: transparent;
  margin-top: 136px;
  padding-top: 0;
}

@media screen and (min-width:890px) {
  .popup__container_type_show-image {
    margin-top: 90px;
  }
}