.profile__sub-title {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .profile__sub-title {
    font-size: 18px;
    line-height: 22px;
    margin-left: 17px;
  }
}